.about-us__box {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(247, 231, 231, 0.1);
  border-radius: 13px;
  margin: 2rem 0;
  padding: 4rem 4.5rem;
  background-color: #FFFFFF;
  font-family: "DanaMedium";
  position: relative;
}
.about-fa-book-open{
  font-size: 30px;
  color: blueviolet;
}
.about-fa-book-fist{
  font-size: 30px;
  color: rgb(85, 161, 9);
}
.iconParent1::before{
  content: "";
  width: 43px;
  height: 93px;
  border-radius: 25px;
  background-color: rgba(137, 43, 226, 0.172);
  position: absolute;
  top: -18px;
  right: -20px;
  padding-left: 27px;
}
.iconParent1 svg{
  color: rgb(137, 43, 226);
}
.iconParent2 svg{
  color: rgb(223, 37, 37);
}
.iconParent2::before{
  content: "";
  width: 43px;
  height: 93px;
  border-radius: 25px;
  background-color: rgba(223, 37, 37, 0.338);
  position: absolute;
  top: -18px;
  right: -20px;
  padding-left: 27px;

  
}.iconParent3 svg{
  color:rgb(101, 226, 43) ;
}
.iconParent3::before{
  content: "";
  width: 43px;
  height: 93px;
  border-radius: 25px;
  background-color: rgba(101, 226, 43, 0.451);
  position: absolute;
  top: -18px;
  right: -20px;
  padding-left: 27px;

  
}
.iconParent4 svg{
  color:rgb(226, 43, 189) ;
}
.iconParent4::before{
  content: "";
  width: 43px;
  height: 93px;
  border-radius: 25px;
  background-color: rgba(226, 43, 189, 0.409);
  position: absolute;
  top: -18px;
  right: -20px;
  padding-left: 27px;

  
}

.about-us__box-right{
  position: relative;
}
.about-us__box-right svg{
  font-size: 44px;
  margin-bottom: 15px;
}
.about-us__icon {
  font-size: 6.5rem;
}

.about-us__box-left {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.about-us__box-title {
  font-weight: 600;
  font-size: 2.1rem;
  color: var(--dark-color);
  margin-bottom: 10px;

}
.about-us__box-text{
  font-weight: 100;
  font-size: 1.6rem;
  color: var(--grey-color);
}


