.course-box {
  background-color: #FFFFFF;
  box-shadow: 0 0 19px rgba(168, 172, 185, 0.513);
  border-radius: 15px;
  margin: 51px 0 ;
  transition: all 400ms ease;
  position: relative;
}



.course_box_Images{
  position: relative;
  top: -25px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.course-box:hover {
  transform: translateY(-0.6rem);
}
.courseBoxSwiper{
  margin-inline: 20px;
}
.course-box__img {
  width: 92%;
  border-radius: 3rem;
  box-shadow: 0 10px 24px rgba(227, 224, 233, 0.858);

  
}

.course-box__main {
  padding: 0 1.2rem;
  margin-top: -7px;
}

.course-box__title {
  display: block;
  padding: 0.5rem 0;
  color: black;
  font-family: "DanaMedium";
  font-size: 17px;
  font-weight: 500;

}

.course-box__rating-teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}

.course-box__teacher {
  display: flex;
  align-items: center;
}
.course-box__teacher svg{
  font-size: 19px;
  color: var(--sec-color);
}

.course-box__teacher-icon {
   color: #434668;
  font-size: 1.8rem;
}
.course-box__teacher:hover .course-box__teacher-link .course-box__teacher-icon {
  color: #2c69d9 ;
}
.course-box__teacher-link {
  color: var(--sec-color);
  font-size: 13px;
  margin-right: 0.4rem;

}
.course-box__teacher-link svg{
  margin-left: 5px;
  color: #2bce56;
}
.course-box__star {
  color: #2bce56;
}
.course-box__starNumber{
  margin-top: 5px;
  font-family: "VazirNumber";
  color: #2bce56;
}

.course-box__rating{
  display: flex;
  align-items: center;

}
.course-box__rating svg{
  color: #3ac15e;
  font-size: 20px;
}
.course-box__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 6px 0 9px;
}

.course-box__users-icon {
  color: var(--sec-color);
  font-size: 1.6rem;
  margin-left: 5px;
}

.course-box__users-text {
  color: var(--sec-color);
  font-size: 1.6rem;
  font-family: "VazirNumber";
}

.course-box__price {
  font-size: 1.5rem;
  font-family: "VazirNumber";
  display: flex;
  font-weight: 500;
  align-items: center;
  color: #26b94d;

}
.course_box_price_toman{
  margin-left: -10px;
}
.course_box_price_tomanNumber{
  font-size: 1.5rem;
  font-family: "VazirNumber";
  font-weight: 500;
}

.course-box__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 0;
  border-top: 1px solid #e8e8e8;
}
.course-box__users svg{
  font-size: 19px;
  margin-left: 5px;
  color: var(--sec-color);
}

.course-box__footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  font-family: "DanaMedium";
  font-size: 1.5rem;
}
.course-box__footer-link svg{
  font-size: 18px;
  margin-bottom: 3px;
  margin-right: 2px;
}
.course-box__footer-icon {
  margin-right: 0.5rem;
  margin-top: 2px;
  font-size: 1rem;
}


.courses-box__discount {
  position: absolute;
  left: -.7rem;
  top: -.7rem;
  background-color: #f20505;
  padding: .3rem 1.3rem;
  font-size: 1.4rem;
  color: var(--white-color);
  border-radius: .5rem;
  transform: rotate(-10deg);
  transition: all 500ms ease;
  z-index: 100;
}
.course-box:hover .courses-box__discount{
  transform: rotate(0deg);
}
.courses-box__price-discount {
  color: #2bce56;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
.courses-box__undiscount {
  font-size: 1.4rem;
  position: relative;
}
.courses-box__undiscount::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(117, 117, 117);
  right: 0;
  z-index: 999;
  top: 1rem;
}