.timeCounter{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: #464b8d ;
}
.timeCounter span{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #464b8d;
    padding: 25px;
    color: #ffff;
    border: 0.1px solid #ead0d986;

}

.timeLine{
    font-size: 10px;
    font-weight: bold;
}
