/* Start Top-Bar Styles */

.top-bar1 {
  color: var(--white-color);
  padding:  4px;
  background-color: #464b8d;
  box-shadow: 0px 13px 12px -10px rgba(110.00000000000004, 97.00000000000003, 181, 0.25);
  margin-inline: 30px;
  border-radius: 10px;
  margin-top: 5px;

}
.topbar_sec{
  background-color: #f6f3f3;
  height: 70px;
}
.top-bar__content {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.top-bar__right {
  display: flex;
}

.top-bar__menu {
  display: flex;
}

.top-bar__item{
  display: flex;
  align-items: center;
}
.top-bar__item svg{
  color: #ffffff;

}
.topbarBellIcon{
  background-color: #ffffff5e;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
}

.item-notif2{
  display: flex;
  align-items: center;
  justify-content: baseline;
  background-color: #e7e7ee;
  color: var(--sec-color);
  border-radius: 25px;
  padding: 5px 20px;
  margin-right: 10px;
}
.topBarLinkArrowIcon svg{
  color: var(--sec-color);
}
.topBarLinkArrowIcon{
  font-size: 20px;
  margin-right: 5px;
}
.top-bar__link1 {
  color: var(--white-color);
  transition: all 400ms ease;
  font-size: 1.8rem;
  padding: 0 1rem;
}
.top-bar__link1:hover{
  color: var(--white-color);
}
.top-bar-icon {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  border-radius: 50%;
}
.top-bar__left {
  display: flex;
  width: 220px;
  background-color: #e31111 !important;
}

.top-bar__email,
.top-bar__phone {
  display: flex;
  align-items: center;
}

.top-bar__email-text,
.top-bar__phone-text {
  padding: 0 0.8rem;
}

.top-bar__email-icon,
.top-bar__phone-icon {
  color: var(--primary-color);
  font-size: 2rem;
}

/* Finish Top-Bar Styles */
