.article-card {
  background-color: #FFFFFF;
  box-shadow: 0 0 19px rgba(168, 172, 185, 0.513);
  border-radius: 3rem;
  margin: 60px 0;
  transition: all 400ms ease;
  position: relative;
}
.article-card__header{
  position: relative;
  top: -25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.article-card__link-img{
  position: relative;
  top: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.article-card:hover {
  transform: translateY(-0.6rem);
}

.article-card__img {
  width: 92%;
  border-radius: 3rem;
  box-shadow: 0 10px 24px rgba(220, 208, 245, 0.858);
  box-shadow: 0px -4px 28px rgba(220, 208, 245, 0.858)
}

.article-card__content {
  padding: 0 2.2rem;
  margin-top: -7px;
}

.article-card__link {
  display: block;
  padding: 0.5rem 0;
  color: black;
  font-family: "DanaMedium";
  font-size: 17px;
  font-weight: 500;
}

.article-card__text {
  color: var(--grey-color);
  font-size: 1.3rem;
  padding: 1rem 0 2.5rem 0;
}
.article-card__btnIcon{
  margin-bottom: 3px;
  margin-right: 5px;
}
.article-card__btn {
  border-top: .5px solid #8989894a;
  font-size: 1.5rem;
  font-family: "DanaMedium";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 11px;

}
.article-card__btn svg{
  font-size: 18px;
  margin-bottom: 3px;
  margin-right: 2px;
}

.article-card__btn:hover {
  color: var(--sec-color);
}


.article_card_cretor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.article_card_cretor_right{
  color: var(--sec-color);
  font-size: 1.2rem;
  margin-right: 0.4rem;
}
.article_card_cretor_rightName{
  color: var(--sec-color);
    font-size: 13px;
    margin-right: 0.4rem;
}
.article_card_cretor_right i{
  margin-left: 5px;
}
.article_card_cretor_right svg{
  font-size: 19px;
  color: var(--sec-color);
}

.article_card_cretor_left{
  color: var(--sec-color);
  font-size: 1.2rem;
  margin-right: 0.4rem;
}
.article_card_cretor_left svg{
  font-size: 19px;
  color: var(--sec-color);
  margin-bottom: 2px;
}
.article_card_cretor_left i{
  margin-left: 5px;
}

.article_card_cretor_leftCalender{
  color: var(--sec-color);
    font-size: 13px;
    margin-right: 0.4rem;
}