.active-menu.active-menu {
  background: #FFFFFF;
  height: 1.5em;
  margin-right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
  border-radius: 0 9px 9px 0;
  position: relative;
  margin-top: 2rem;


}

.active-menu.active-menu::after {
  background-color: var(--primary-color);
  content: '';
  height: .5em;
  width: .5em;
  position: absolute;
  bottom: 24px;
  left: 0;
  border-radius: 0 0 0 9px;
  box-shadow: -2.1px 2.1px 0 2px #FFFFFF;
}

.active-menu.active-menu::before {
  content: '';
  background: var(--primary-color);
  height: .5em;
  width: .5em;
  position: absolute;
  top: 24.1px;
  left: 0em;
  border-radius: 9px 0 0 0;
  box-shadow: -2px -3px 0 2px #FFFFFF;
  z-index: 100;
}

.active-menu a {
  color: var(--dark-color) !important
}

.sidebarUserPanel1 {
  background-color: #ffffff !important;
  height: 100vh;
  position: fixed;
  right: 0;
  overflow-y: auto;
  scrollbar-width: none !important;

}

#sidebar .sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

#sidebar .sidebar-header .sidebar-logo {
  /* padding: 15px 25px; */
}

#sidebar .sidebar-header .sidebar-logo img {
  width: 70px;
}

#sidebar .sidebar-header .sidebar-menu-btn {
  padding: 10px 25px;
}

#sidebar.active {
  right: -250px;
}

#sidebar .sidebar-header .sidebar-menu-btn i {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}


.sideBar_itemEff {
  color: var(--white-color);
}

.sideBar_itemEff1 {
  height: 1.7em;
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 12pt;
  border-radius: 0 9px 9px 0;
  position: relative;
  margin-top: 2rem;
  color: var(--white-color) !important;
  margin-top: 2.6rem;
}

.sideBar_itemEff {
  background: #FFFFFF;
  height: 1.8em;
  margin-right: .75rem;
  display: flex;
  align-items: center;
  font-size: 13pt;
  border-radius: 0 9px 9px 0;
  position: relative;
  margin-top: 2.6rem;
  padding-right: 15px;
  padding-top: 3px;
  color: var(--sec-color) !important;
}



#sidebar .sidebar-menu ul {
  background-color: var(--primary-color);
  padding: 10px 0;
}

#sidebar .sidebar-menu {
  margin-top: 0px;
}

#sidebar .sidebar-menu ul li a i {
  padding-left: 10px;
}

.sideBar_itemEff::after {
  background-color: var(--primary-color);
  content: '';
  height: .5em;
  width: .5em;
  position: absolute;
  bottom: 31.2px;
  left: 0;
  border-radius: 0 0 0 9px;
  box-shadow: -2.1px 2.1px 0 2px #FFFFFF;
}

.sideBar_itemEff::before {
  content: '';
  background: var(--primary-color);
  height: .5em;
  width: .5em;
  position: absolute;
  top: 31.2px;
  left: 0em;
  border-radius: 9px 0 0 0;
  box-shadow: -3px -3px 0 2px #FFFFFF;
  z-index: 100;
}

.sideBar_itemEff1 .sidebar_itemLink svg {
  color: #3be754;
  font-size: 20px;
}

.sideBar_itemEff .sidebar_itemLink svg {
  color: #f8a806;
  font-size: 20px;
}

.sideBar_itemLink {
  color: var(--white-color) !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  font-size: 15px;
  color: var(--white-color) !important;
  margin-right: 25px;
}




.sideBar_itemEff1 a span {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 200;
  margin-right: 8px;
  text-decoration: none !important;
}




.sidebar_itemImage {
  /* color: var(--white-color) !important; */
  /* font-size: 150px; */
  /* background-color: var(--sec-color);
  border-radius: 15px;
  width: 17px;
  height: 17px; */
  margin-top: 5px;
  color: var(--sec-color) !important;

}

.sidebar_itemImage2 {
  color: var(--white-color) !important;
}